@import '../../node_modules/fullpage.js/dist/fullpage.css';
@import './breakpoints';
@import './variables';
@import './fonts';

$body-color: blue;

body {
  color: $body-color;
}

p {
  margin: 0;
}

h1, h2, h3 {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

#fp-nav {
  ul {
    li {
      margin-top: 20px;
      margin-bottom: 20px;
      a {
        span {
          background: $blue-light-2;
        }
        &.active {
          span {
            width: 4px;
            height: 4px;
            margin: -2px 0 0 -2px;
            background: $blue-light-1;
          }
        }
      }
    }
  }
}

.header {
  position: fixed;
  z-index: 3000;
  width: 1300px;
  margin: 0 auto;
  padding: 15px 15px 0;
  top: 0;
  left: 0;
  right: 0;
}

.main-logo {
  display: block;
  width: 100px;
  transition: transform .2s;
  img {
    width: 100%;
  }
  &:hover {
    transform: scale(1.05);
  }
}

.section {
  position: relative;
  overflow: hidden;
  .fp-tableCell {
    overflow: hidden;
  }
  &__content {
    margin: 0 auto;
  }
  &__title {
    font-family: SeravekRegular;
    font-size: 36px;
    color: $dark-blue-1;
    letter-spacing: 1px;
    margin-bottom: 35px;
  }
  &__dash {
    width: 60px;
    height: 5px;
    margin-bottom: 35px;
    background: #87f4fd; /* Old browsers */
    background: -moz-linear-gradient(left,  #87f4fd 0%, #4258e3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #87f4fd 0%,#4258e3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #87f4fd 0%,#4258e3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87f4fd', endColorstr='#4258e3',GradientType=1 ); /* IE6-9 */
  }
  &__text {
    font-size: 18px;
    line-height: 1.5;
    color: $text-light-1;
    font-family: SfProText;
    font-weight: 400;
  }
  &.active {
    z-index: 10000;
  }
}

.section-1 {
  &__content {
    position: relative;
    z-index: 1000;
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
  }
  &__left {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__logo {
    width: 310px;
    margin-bottom: 40px;
  }
  &__text {
    margin-bottom: 55px;
    font-size: 18px;
    line-height: 1.5;
    color: $text-dark-1;
    font-family: SfProText;
    font-weight: 400;
  }
  &__wave-1 {
    position: absolute;
    z-index: 10;
    bottom: -55px;
    left: 0;
    width: 100%;
  }
  &__wave-2 {
    position: absolute;
    z-index: 20;
    bottom: -70px;
    left: 0;
    width: 100%;
  }
  &__wave-3 {
    position: absolute;
    z-index: 30;
    bottom: -80px;
    left: 0;
    width: 100%;
  }
  &__flies-1 {
    position: absolute;
    z-index: 5;
    left: 20%;
    top: 10%;
    width: 40%;
  }
  &__flies-2 {
    position: absolute;
    z-index: 5;
    left: 35%;
    top: 3%;
    width: 50%;
  }
  &__buttons {
    display: flex;
  }
  &__button {
    display: flex;
    align-items: center;
    margin-right: 20px;
    padding: 10px 15px;
    border-radius: 5px;
    background: $dark-blue-1;
    box-shadow: 0 1px 2px $shadow-1;
    cursor: pointer;
    transition: transform .2s;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      transform: scale(1.05);
    }
  }
  &__phones {
    display: flex;
    align-items: center;
  }
  &__phone-left {
    position: relative;
    width: 350px;
    margin-right: -60px;
  }
  &__phone-right {
    position: relative;
    width: 350px;
  }
}

.section-2 {
  background: #fff;
  &__content {
    position: relative;
    z-index: 1000;
    max-width: 1300px;
    display: flex;
    justify-content: center;
  }
  &__wave {
    position: absolute;
    z-index: 10;
    bottom: -8%;
    left: 0;
  }
  &__right {
    width: 900px;
    padding-left: 80px;
    padding-top: 30px;
  }
  &__phone {
    position: relative;
    left: -60px;
    width: 400px;
  }
  &__cards {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    margin-left: -8px;
  }
  &__text {
    margin-bottom: 40px;
  }
}

.section-3 {
  &__content {
    position: relative;
    z-index: 1000;
    display: flex;
    justify-content: center;
  }
  &__phone {
    width: 400px;
  }
  &__wave {
    position: absolute;
    z-index: 10;
    bottom: 70%;
    left: 0;
  }
  &__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 480px;
  }
  &__circle {
    background: #f2fdff; /* Old browsers */
    background: -moz-linear-gradient(45deg,  #f2fdff 0%, #ebf0fd 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg,  #f2fdff 0%,#ebf0fd 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg,  #f2fdff 0%,#ebf0fd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2fdff', endColorstr='#ebf0fd',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }
  &__circle-1 {
    position: absolute;
    z-index: 20;
    right: 50%;
    bottom: 50%;
    margin-right: -580px;
    margin-bottom: -370px;
    width: 220px;
    height: 220px;
    border-radius: 110px;
  }
  &__circle-2 {
    position: absolute;
    z-index: 15;
    right: 50%;
    bottom: 50%;
    margin-right: -200px;
    margin-top: -370px;
    width: 80px;
    height: 80px;
    border-radius: 50px;
  }
}

.section-4 {
  background: #f2fdff; /* Old browsers */
  background: -moz-linear-gradient(45deg,  #f2fdff 0%, #ebf0fd 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg,  #f2fdff 0%,#ebf0fd 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg,  #f2fdff 0%,#ebf0fd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2fdff', endColorstr='#ebf0fd',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  &__content {
    position: relative;
    z-index: 1000;
    display: flex;
    justify-content: center;
  }
  &__phone {
    width: 400px;
  }
  &__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 430px;
    padding-left: 50px;
  }
}

.section-5 {
  background: #f2fdff; /* Old browsers */
  background: -moz-linear-gradient(45deg,  #f2fdff 0%, #ebf0fd 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg,  #f2fdff 0%,#ebf0fd 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg,  #f2fdff 0%,#ebf0fd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2fdff', endColorstr='#ebf0fd',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  &__container {
    position: relative;
    z-index: 1000;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__content {
    max-width: 1000px;
    padding-top: 90px;
    display: flex;
    justify-content: center;
  }
  &__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__text {
    width: 400px;
  }
  &__phone {
    width: 400px;
  }
  &__circle-1 {
    position: absolute;
    z-index: 20;
    right: 50%;
    bottom: 50%;
    margin-right: -310px;
    margin-bottom: -330px;
    width: 150px;
    height: 150px;
    border-radius: 75px;
    background: #fff;
  }
  &__circle-2 {
    position: absolute;
    z-index: 15;
    right: 50%;
    bottom: 50%;
    margin-right: -530px;
    margin-bottom: 150px;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background: #fff;
  }
  &__circle-3 {
    position: absolute;
    z-index: 20;
    right: 50%;
    bottom: 0;
    margin-right: -75px;
    margin-bottom: -25px;
    width: 150px;
    height: 150px;
    border-radius: 75px;
    background: #fff;
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
    padding: 40px 0;
    font-family: SfProText;
    font-size: 14px;
    letter-spacing: .5px;
    color: $text-light-1;
    &-menu {
      list-style: none;
      display: flex;
      align-items: center;
      &-item {
        font-weight: 600;
        margin-right: 40px;
      }
    }
    &-link {
      color: $text-light-1;
    }
  }
  &__copyright {
    font-size: 14px;
  }
}
